body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.section {
    display: flex;
}

.eat-healthy {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 10%;

}

.eat-healthy img {
    width: 80%;

}

h1 {
    font-size: 80px;
    padding-top: 10%;
    font-weight: 700px;

}

#skip-color {
    color: brown;
}

.eat-healthy p {
    font-size: 100%;
    padding-right: 40%;
    padding-bottom: 10%;

}

.button {
    font-size: 150%;
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 140, 63), tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 25px;

}

.about-me {

    padding-left: 10%;
    color: rgb(90, 86, 86);
    background-image: url(shapes/7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-me img {
    width: 90%;
    /* padding-left: 10%; */

}

.about-me-text {
    padding-left: 15%;
}

.about-me p {
    padding-right: 50%;
    padding-bottom: 5%;
}